html {
	border: solid 1px red;
	margin-bottom: 0px;

	/*min-height: 100%;*/
}
 body {
 	/*overflow: auto;*/
 }
 a.thumbClick {
 	color: #333;
 }
.sidebar {
	max-width: 200px;
	/*min-height: 200vh;*/
}
#bikeForm {
	margin: 20px;
}

.productMain {
	background-color: rgba(255,255,255,.7);
	display:block;
	overflow:auto;
	/*border: solid 3px white;*/

}
#dynamicContent {
	/*padding-bottom: 50px;*/
	/*box-sizing: content-box;*/
}

.thumbBox {
	border: solid 1px yellow;
	/*cursor: pointer;*/
	min-height: 275px;
	/*background-color: white;*/
}

.thumbImage {
	width: 90%;
	padding: 5px;
	margin-top: 10px;
	border: solid 1px grey;
	box-shadow:0 0 15px #777;
    -moz-box-shadow:0 0 15px #777;
    -webkit-box-shadow:0 0 15px #777;
    background-color: white;
}

.singleImage {
	width: 90%;
}

.singleInfo {

}
.singleDescrip {
	margin-top: 10px;
	padding-bottom: 25px;	
}
.singleButton {
	margin: 10px;
}
