body{
	background-image: url("../img/bg.jpg");
}

#header{
	margin-bottom: 5px;
	background-color: rgba(255,255,255,.5);
}
.navbar-default{
	background-color: rgba(255,255,255,.6);
}

#navItem{
	color: red;
	font-size: 20pt;
	padding-left: 5%;
}
.testBorder {
	border: solid 1px blue;
	height: 50vh;
}

.sidebar {
	height: 80vh;
}

.productMain {
	padding: 0px;
}

#biker{
	width: 100%;
	z-index: 0;
	margin: 0;
}
#mission{
	display: none;
	position: absolute;
	color: black;
	border: solid 1px white;
	border-radius: 15px;
	background-color: rgba(255,255,255,.6);
	z-index: 1;
	top: 42%;
	left: 65%;
}
#featured{
	margin-top: 1%;
	background-color: rgba(255,255,255,.6);
	clear: both;
	border-radius: 15px;
	margin-right: 2%;
}
#desc{
	margin-bottom: 2%;
}
#bikepic{
	width: 85%;
	height: 85%;
}

#newsletter{
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 0px;
	background-color: rgba(255,255,255,.6);
	border-radius: 15px;