body{
	background-image: url("../img/bg.jpg");
}

#header{
	margin-bottom: 5px;
	background-color: rgba(255,255,255,.5);
}
.navbar-default{
	background-color: rgba(255,255,255,.6);
}

#navItem{
	color: red;
	font-size: 20pt;
	padding-left: 5%;
}
.testBorder {
	border: solid 1px blue;
	height: 50vh;
}

.sidebar {
	height: 80vh;
}

.productMain {
	padding: 0px;
}
#splashImage{
	position: absolute;
}
#biker{
	height: 75%;
	min-width: 128%;
	z-index: 0;
	margin: 0;
}
#mission{
	position: absolute;
	border: solid 1px red;
	background-color: orange;
	z-index: 1;
	top: 1%;
	left: 93%;
}