#header{
	margin-bottom: 5px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-bottom: 0;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navItem{
	margin-left: 50px;
	margin-right: 50px;
	font-size: 16pt;
}
.testBorder {
	border: solid 1px blue;
	height: 50vh;
}

.sidebar {
	height: 80vh;
}

.productMain {
	padding: 0px;
}
#splashImage{
	padding: 0;
	margin: 0;
}